@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');
:root {
    --primary-color: #d6266f;
    --border-radius: 5px;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23e9e4f2' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
    color: whitesmoke;
    padding: 20px;
    background: rgba(0,0,0,0.55);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    margin: 20px auto 10px;
    user-select: none;
}

h1:hover {
     background: rgba(0,0,0,0.8);
}

.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.item {
    color: whitesmoke;
    padding: 20px;
    background: rgba(0,0,0,0.47);
    border-radius: var(--border-radius);
    margin: 10px;
}

.item:hover {
    background: rgba(0,0,0,0.6);
}

a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.fa-times {
    float: right;
    cursor: pointer;
    z-index: 2;
}

.name {
    margin-top: 20px;
    margin-right: 20px;
    
}

a:hover,
a:active {
    text-decoration: underline;
}

.name img {
    height: 20px;
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
}

/*Modal*/
.modal-container {
    background: rgba(0,0,0,0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.show-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    max-width: 95%;
    width: 500px;
    animation: modalopen 1s;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-icon {
  float: right;
  color: white;
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.modal-header {
    background: var(--primary-color);
    color: white;
    padding: 15px;
}

h3 {
    margin: 0;
}

.modal-content {
    padding: 20px;
    background: whitesmoke;
}

.form-group {
    height: 55px;
}

.form-input {
    width: 97%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: block;
    outline: none;
}

.form-label {
    color: var(--primary-color);
    display: block;
}

button {
    cursor: pointer;
    color: whitesmoke;
    background: var(--primary-color);
    height: 30px;
    width: 100px;
    border-radius: var(--border-radius);
    border: none;
    margin-top: 10px;
}

button:hover {
    filter: brightness(115%);
}

button:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}